@import "../../../styles/animations";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.DocumentActions {
    position: absolute !important;
    top: $spacing-md;
    right: $spacing-md;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-sm;
    width: fit-content !important;
    height: fit-content !important;
    flex: 0 !important;
    background-color: var(--primary-color);

    &Action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        @include show-item-animation;

        svg {
            color: var(--info-color);
            width: $font-lg;
        }

        span {
            display: none;
            font-size: $font-sm * 1.5;
            color: var(--info-color);
        }
    }
}

.FullscreenIframe {
    width: 70vw;
    height: 75vh;
    outline: none;
    border: none;
}

@media only screen and (max-width: 700px) {
    .DocumentActions {
        &Action {
            span {
                display: block;
            }
        }
    }
}
