$palettes: (
    light: (
        primary: #fff,
        secondary: #f2f1f6,
        text: #2e333d,
        error: #e75555,
        success: #4caf50,
        info: #378fe9,
    ),
    dark: (
        primary: #30333f,
        secondary: #222b30,
        text: #fff,
        error: #e75555,
        success: #4caf50,
        info: #378fe9,
    ),
);
