$spacing-sm: 8px;
$spacing-md: 2 * $spacing-sm;
$spacing-lg: 3 * $spacing-sm;

$weight-light: 400;
$weight-normal: 500;
$weight-heavy: 600;

$radius-sm: 8px;
$radius-md: 2 * $radius-sm;
$radius-lg: 3 * $radius-sm;

$font-sm: 8px;
$font-md: 2 * $font-sm;
$font-lg: 3 * $font-sm;

$topbar-height: 50px;
