@import "../../../styles/variables";

.DocumentList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: flex 0.5s ease-in-out;
    overflow: hidden;
    background-color: var(--primary-color);

    &[data-show="false"] {
        flex: 0 !important;
        width: 0;
    }

    &[data-show="true"] {
        flex: 0.6 !important;
        width: 100%;
    }

    &Header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 2 * #{$spacing-md});
        height: 30px;
        padding: $spacing-md;
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

    &List {
        width: 100%;
    }

    &Title {
        font-size: $font-md;
        margin: 0;
    }

    &Add {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        text-transform: none !important;

        &,
        svg {
            color: var(--text-color) !important;
        }

        svg {
            width: $font-lg;
        }
    }
}
